@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, textarea, p, span {
    font: 500 18px 'Poppins', sans-serif;
    color: $grayish-violet;
}

h1 {
    font: 800 'Poppins', sans-serif;
    color: $very-dark-violet;
}



